body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}

h1, h2 {
    color: #333;
}

#inventory-view, #product-management, #category-management, #history-view {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 10px;
}

button {
    padding: 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}

#search-bar {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
